In [1]:
import pandas as pd
import numpy as np

In [2]:
df_m1 = pd.read_csv('../data/raw_extraction/vancouver_real_estate_m1.csv', index_col = 0)
df_m1_2 = pd.read_csv('../data/raw_extraction/vancouver_real_estate2_m1.csv', index_col = 0)

In [3]:
df_m1 = pd.concat([df_m1, df_m1_2], axis=0)
df_m1.drop_duplicates(inplace=True)

In [4]:
# Convert empty strings and None to NaN
df_m1.replace(r'^\s*$', np.nan, regex=True, inplace=True)

# Convert price to float
df_m1["price"] = df_m1["price"].replace(r"[\$,]", "", regex=True).astype("float32")

# Convert bed to integer (using Int64 which supports NaN)
df_m1["bed"] = df_m1["bed"].astype(str).str.extract(r"(\d+)").astype("float32")

# Convert bath to float (supports half baths)
df_m1["bath"] = df_m1["bath"].astype(str).str.extract(r"(\d+\.?\d*)").astype("float32")

df_m1["property_link"] = df_m1["property_link"].astype(str)

# Convert sqr_footage to float, handling missing values properly
df_m1["sqr_footage"] = (
    df_m1["sqr_footage"]
    .astype(str)
    .str.replace(",", "", regex=True)
    .str.extract(r"(\d+)")
    .astype("float32")
)

In [5]:
df_m1.drop_duplicates(inplace=True)
df_m1.columns = ['address', 'postalCode', 'price', 'bedroom', 'bathroom', 'square_footage', 'property_link']
df_m1 = df_m1[['address', 'bedroom', 'bathroom','square_footage', 'price', 'postalCode', 'property_link']]

In [6]:
df_m2 = pd.read_csv("../data/raw_extraction/vancouver_real_estate_m2", index_col = 0)
df_event_m2 = pd.read_csv("../data/raw_extraction/vancouver_real_estate_event_m2", index_col = 0)
df_event_list_m2 = pd.read_csv("../data/raw_extraction/vancouver_real_estate_event2_m2", index_col = 0)

In [7]:
print(f'df_m2: {df_m2.shape}')
print(f'df_event_m2: {df_event_m2.shape}')
print(f'df_event_list_m2: {df_event_list_m2.shape}')

df_m2: (15021, 8)
df_event_m2: (2049, 6)
df_event_list_m2: (2837, 5)

In [8]:
print(f'columns of df_m2: {df_m2.columns}')
print(f'columns of df_event_m2: {df_event_m2.columns}')
print(f'columns df_event_list_m2: {df_event_list_m2.columns}')

columns of df_m2: Index(['address', 'postalCode', 'latitude', 'longitude', 'price',
       'square_footage', 'bedroom', 'url'],
      dtype='object')
columns of df_event_m2: Index(['address', 'postalCode', 'latitude', 'longitude', 'price', 'url'], dtype='object')
columns df_event_list_m2: Index(['address', 'postalCode', 'latitude', 'longitude', 'url'], dtype='object')

In [9]:
df_m2 = pd.concat([df_m2, df_event_m2, df_event_list_m2], axis=0)

# Convert empty strings and None to NaN
df_m2.replace(r'^\s*$', np.nan, regex=True, inplace=True)

# Convert price to float
df_m2["price"] = df_m2["price"].astype("float32")

# Convert bed to integer (using Int64 which supports NaN)
df_m2["bedroom"] = df_m2["bedroom"].astype("float32")

df_m1["property_link"] = df_m1["property_link"].astype(str)

# Convert sqr_footage to float, handling missing values properly
df_m2["square_footage"] = df_m2["square_footage"].astype("float32")

In [10]:
df_m2.drop_duplicates(inplace=True)
df_m2.columns = ['address', 'postalCode', 'latitude', 'longitude', 'price', 'square_footage', 'bedroom', 'property_link']
df_m2 = df_m2[['address', 'bedroom', 'square_footage', 'price', 'postalCode', 'latitude', 'longitude', 'property_link']]
df_m2

,address,bedroom,square_footage,price,postalCode,latitude,longitude,property_link
0,2950 Tolmie St,5.0,3444.0,4288000.0,V6R 4K6,49.260883,-123.212023,https://www.redfin.ca/bc/vancouver/2950-Tolmie...
1,4306 W 8th Ave,4.0,3794.0,5588000.0,V6R 2A1,49.265347,-123.203274,https://www.redfin.ca/bc/vancouver/4306-W-8th-...
2,4615 W 4th Ave,5.0,2300.0,2888000.0,V6R 1R6,49.269275,-123.212424,https://www.redfin.ca/bc/vancouver/4615-W-4th-...
3,4922 Queensland Rd,5.0,2392.0,3550000.0,V6T 1G4,49.266380,-123.223754,https://www.redfin.ca/bc/greater-vancouver-reg...
4,4650 W 6th Ave,5.0,2548.0,3868000.0,V6R 1V7,49.267092,-123.213618,https://www.redfin.ca/bc/vancouver/4650-W-6th-...
...,...,...,...,...,...,...,...,...
467,189 Keefer St #1006,NaN,NaN,NaN,V6A 0C8,49.279651,-123.100137,https://www.redfin.ca/bc/vancouver/189-Keefer-...
468,120 Powell St #31,NaN,NaN,NaN,V6A 1G1,49.283004,-123.101533,https://www.redfin.ca/bc/vancouver/120-Powell-...
469,518 Beatty St #804,NaN,NaN,NaN,V6B 6G8,49.280869,-123.108795,https://www.redfin.ca/bc/vancouver/518-Beatty-...
470,188 Keefer Pl #226,NaN,NaN,NaN,V6B 0J1,49.279640,-123.108857,https://www.redfin.ca/bc/vancouver/188-Keefer-...
471,108 W Cordova St #1505,NaN,NaN,NaN,V6B 0G5,49.282757,-123.107202,https://www.redfin.ca/bc/vancouver/108-W-Cordo...

In [11]:
df_m2[df_m2['latitude'] == df_m2['longitude']]

Empty DataFrame
Columns: [address, bedroom, square_footage, price, postalCode, latitude, longitude, property_link]
Index: []

In [12]:
merged_df = pd.merge(df_m1, df_m2, on='address', how='outer', suffixes=('_df1', '_df2'))
print(len(merged_df), len(df_m1), len(df_m2))

6036 4492 5743

In [13]:
addresses_df1 = set(df_m1['address'])
addresses_df2 = set(df_m2['address'])

common_addresses = addresses_df1.intersection(addresses_df2)
common_rows_merged_df = merged_df[merged_df['address'].isin(common_addresses)]
common_rows_merged_df.reset_index(inplace = True)


unique_addresses_df1 = addresses_df1 - addresses_df2
unique_addresses_df2 = addresses_df2 - addresses_df1
unique_addresses = unique_addresses_df1.union(unique_addresses_df2)
unique_rows_merged_df = merged_df[merged_df['address'].isin(unique_addresses)]
unique_rows_merged_df.reset_index(inplace = True)

print(len(common_rows_merged_df), len(unique_addresses))

5217 686

In [14]:
# manual adjustment for name consistency
unique_rows_merged_df = unique_rows_merged_df.rename(columns={
    'bath': 'bathroom_df1',
    'latitude': 'latitude_df2',
    'longitude': 'longitude_df2'
})

union_columns = set(df_m1.columns).union(set(df_m2.columns))
combined_data = {}
for metric in union_columns:
    df1_col = f"{metric}_df1"
    df2_col = f"{metric}_df2"

    if df1_col in unique_rows_merged_df.columns and df2_col in unique_rows_merged_df.columns:
        combined_data[metric] = unique_rows_merged_df[df1_col].combine_first(unique_rows_merged_df[df2_col])
    elif df1_col in unique_rows_merged_df.columns:
        combined_data[metric] = unique_rows_merged_df[df1_col]
    elif df2_col in unique_rows_merged_df.columns:
        combined_data[metric] = unique_rows_merged_df[df2_col]

non_suffixed_columns = [col for col in unique_rows_merged_df.columns if '_df1' not in col and '_df2' not in col]
for col in non_suffixed_columns:
    combined_data[col] = unique_rows_merged_df[col]

combined_df1 = pd.DataFrame(combined_data)

In [15]:
combined_df1 = combined_df1[['address', 'bedroom', 'bathroom', 'square_footage', 'price', 'postalCode', 'latitude', 'longitude', 'property_link']]
combined_df1

,address,bedroom,bathroom,square_footage,price,postalCode,latitude,longitude,property_link
0,1001 Homer St #1901,1.0,1.0,505.0,658000.0,V6B 1M9,NaN,NaN,https://www.redfin.com/bc/vancouver/1001-Homer...
1,1003 Burnaby St #1106,1.0,1.0,411.0,485000.0,V6E 4R7,NaN,NaN,https://www.redfin.com/bc/vancouver/1003-Burna...
2,1005 W 7th Ave #303,1.0,1.0,981.0,899000.0,V6H 1B2,NaN,NaN,https://www.redfin.com/bc/vancouver/1005-W-7th...
3,1008 Cambie St #2906,1.0,NaN,802.0,998000.0,V6B 6J7,49.275743,-123.118000,https://www.redfin.ca/bc/vancouver/1008-Cambie...
4,1009 Expo Blvd #1903,3.0,2.0,1146.0,1388000.0,V6Z 2V9,NaN,NaN,https://www.redfin.com/bc/vancouver/1009-Expo-...
...,...,...,...,...,...,...,...,...,...
814,989 Nelson St #407,2.0,NaN,808.0,819000.0,V6Z 2S1,49.281182,-123.125207,https://www.redfin.ca/bc/vancouver/989-Nelson-...
815,989 Nelson St #701,1.0,1.0,619.0,699900.0,V6Z 2S1,NaN,NaN,https://www.redfin.com/bc/vancouver/989-Nelson...
816,989 Nelson St #714,1.0,NaN,613.0,635000.0,V6Z 2S1,49.281182,-123.125207,https://www.redfin.ca/bc/vancouver/989-Nelson-...
817,989 W 67 Th Ave #102,3.0,3.0,1663.0,2377159.0,V6P 4B1,NaN,NaN,https://www.redfin.com/bc/vancouver/989-W-67th...
818,995 W 59th Ave #102,2.0,2.0,998.0,999900.0,V6P 6Z2,NaN,NaN,https://www.redfin.com/bc/vancouver/995-W-59th...

In [16]:
common_col = {
'bedroom': ['bedroom_df1', 'bedroom_df2'],
'square_footage': ['square_footage_df1', 'square_footage_df2'],
'price': ['price_df1', 'price_df2'],
'postalCode': ['postalCode_df1', 'postalCode_df2'],
'property_link': ['property_link_df1', 'property_link_df2']
}

unique_col = ['bathroom', 'latitude', 'longitude']

combined_df2 = {}
discrepancies = {} 

combined_df2['address'] = common_rows_merged_df['address']

for metric, (metric_df1, metric_df2) in common_col.items():
    
    df1_from_df2 = common_rows_merged_df[metric_df1].fillna(common_rows_merged_df[metric_df2])
    df2_from_df1 = common_rows_merged_df[metric_df2].fillna(common_rows_merged_df[metric_df1])
    combined_df2[metric] = df1_from_df2

    if isinstance(common_rows_merged_df.loc[0, metric_df1], str):
        if metric == 'property_link':
            # Replace .com and .ca with a common string for comparison
            df1_compare = df1_from_df2.str.replace('.com', '').str.replace('.ca', '')
            df2_compare = df2_from_df1.str.replace('.com', '').str.replace('.ca', '')
            map_difference = df1_compare == df2_compare
        else:
            map_difference = df1_from_df2 == df2_from_df1
        
        map_both_nan = df1_from_df2.isna() & df2_from_df1.isna()
    
    else:
        map_difference = pd.Series(np.isclose(df1_from_df2, df2_from_df1, atol = 1e-3)) 
        map_both_nan = np.isnan(df1_from_df2) & np.isnan(df2_from_df1)

    difference_index = map_difference[map_difference!=True].index
    both_nan_index = map_both_nan[map_both_nan == True].index

    difference_index = difference_index.difference(both_nan_index)
    discrepancies[metric] = difference_index
    
for metric in unique_col:
    combined_df2[metric] = common_rows_merged_df[metric]

In [17]:
combined_df2 = pd.DataFrame(combined_df2)
combined_df2['discrepancies'] = np.nan

for metric, index in discrepancies.items():
    combined_df2.loc[index, 'discrepancies'] = metric

/var/folders/4k/zr7r4x5s7szf89g_d1c944m80000gn/T/ipykernel_1097/987158115.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'bedroom' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  combined_df2.loc[index, 'discrepancies'] = metric

In [18]:
final_output = pd.concat([combined_df1, combined_df2], axis=0)
final_output.head()

,address,bedroom,bathroom,square_footage,price,postalCode,latitude,longitude,property_link,discrepancies
0,1001 Homer St #1901,1.0,1.0,505.0,658000.0,V6B 1M9,NaN,NaN,https://www.redfin.com/bc/vancouver/1001-Homer...,NaN
1,1003 Burnaby St #1106,1.0,1.0,411.0,485000.0,V6E 4R7,NaN,NaN,https://www.redfin.com/bc/vancouver/1003-Burna...,NaN
2,1005 W 7th Ave #303,1.0,1.0,981.0,899000.0,V6H 1B2,NaN,NaN,https://www.redfin.com/bc/vancouver/1005-W-7th...,NaN
3,1008 Cambie St #2906,1.0,NaN,802.0,998000.0,V6B 6J7,49.275743,-123.118,https://www.redfin.ca/bc/vancouver/1008-Cambie...,NaN
4,1009 Expo Blvd #1903,3.0,2.0,1146.0,1388000.0,V6Z 2V9,NaN,NaN,https://www.redfin.com/bc/vancouver/1009-Expo-...,NaN

In [19]:
final_output.to_csv('../data/processed_data/vancouver_real_estate.csv')